header{
  background-color: #CC6666;
  list-style-type: none;
  overflow: hidden;
  margin:0px;
  min-width: 1000px;
  max-width: 2000px;

}
body{

  margin: 0;
  font-family: Arial, serif;

}

.header_items li{
  display: block;
  text-decoration: none;
}
li a{
  float: left;
  text-decoration: none;
  color: black;

}
#login{
  margin-left: 70%;
  margin-top: -5px;
  padding: 10px;
  border-radius: 25px;
  border: 1px solid black;
}
#logo{
  margin-top: -25px;
  margin-bottom: -15px;

}
#registration{
  margin-top: -5px;
  margin-left: 20px;
  color: #BEBEBE;
  padding: 10px;
  border-radius: 25px;
  border: 1px solid #BEBEBE;
}

.hero_section img{
  width:100%;
  height: 100%;

}
.hero_section a{
  position: absolute;
  top: 40%;
  left: 50%;
}

.hero_section{
  min-width: 1500px;
  border: 0;
  margin-bottom: -4px;
  padding: 0;
}
.medim_header{
  min-width: 1500px;
  background-color: #417405;
  padding: 35px;
  margin: 0;
  border: 0;
  white-space: nowrap;



}
.medim_header ul{
  margin-top: -40px;
  display: block;
}
.medim_header li{
  float: left;
  text-decoration: none;
  list-style-type: none;
  white-space: nowrap;
}

.medim_header p{
  font-size: 1.5em;
  margin-left: 100px;
  color: white;
}
.medim_header a{
  font-size: 1.2em;
  margin-top: 18px;
  color: white;
  margin-left: 50px;
}
#build_a{
  padding: 10px;
  border-radius: 5px;
  background: #CC6666;
}
#view_a{
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ff1859;
  color: #ff1859;
}
.content_section{
  white-space: nowrap;
  margin: auto;
  max-width: 1000px;
  min-width: 200px;

}
.content_section h1{
  text-align: center;
  font-size: 2.5em;
}
.content_section li{
  margin-top: 10px;
  display: block;
  float: left;
  text-decoration: none;
  margin-left: 70px;

  text-align: center;
}
.content_section h4{
  font-size: 1.3em;
}
.content_section img{
  text-decoration: none;
}
.top_meal_packages{
  margin: auto;
  max-width: 3000px;
  min-width: 200px;
}
.med_picture img{
  margin-top: 70px;
  width:100%;
  height: 30%;
}
.top_meal_packages tr{
  display: block;
  float: left;
  margin-left: 50px;
  text-align: center;
  text-decoration: none;

}
.top_meal_packages a{
  text-decoration: none;
  color:#CC6666;
}
.top_meal_packages img{
  width: 40px;
  height: 30px;
}
.top_meal_packages h1{
  margin-top: 50px;
  margin-bottom: 50px;
  text-align: center;
  font-size: 2.5em;
  background: #ffffe0;
}
#title{
  font-style: oblique;
  font-size: 1.1em;
}
#price{
  margin-top: 22px;
}
.footer_image img{
  margin-top: 70px;
  width:100%;
  height: 30%;
}
.footer_image{
  min-width: 1500px;
  z-index: -1;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;


}
.footer_image h1{
  position: absolute;
  color: white;
  font-size: 3em;
  margin-left: 100px;

}
.footer_image h3{
  position: absolute;
  color: white;
  font-size: 1.7em;
  margin-top: 100px;
  margin-left: 100px;

}
#footer{

  text-decoration: none;
  list-style-type: none;
  background-color: #4b5d67;
  font-size: 2em;
  margin-top: -20px;
  margin-bottom: 0px;
  padding: 1px;
}
#footer p{
  margin-left: 80%;
  white-space: nowrap;
  margin-top: 5px;
  margin-bottom: 5px;
  color: white;
}
#footer img{
  margin-left: 30px;
}

.content{
  background-color: #fefefe;

  width: 400px;
  height: 500px;
  padding: 20px;
  z-index: 100;
  margin-bottom: 500px;
  margin-left: 100px;
  margin-top: 50px;

}
.content form{
  display: block;


}
.content button{

  padding: 13px 20px 13px 20px;
  border-radius: 5px;
  background: #CC6666;
  color: white;
  border: 0;
  font-size: 1em;
}

.content input{
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 390px;
  height: 35px;
  margin-top: 15px;
  margin-bottom: 15px;

}
.content label{
  display: block;
  margin-bottom: 10px;
  margin-top: 10px;
}
.content #CustomLog{
  font-size: 2.5em;
  margin-top: -10px;
  margin-bottom: 20px;
  color: #CC6666;

}
.content label{
  font-size: 1.2em;


}
.close{

  margin-left: 180px;
  font-size: 35px;
  font-weight: bold;

}
.close:hover,
.close:focus {
  color: #CC6666;
  text-decoration: none;
  cursor: pointer;
}
#hero_section_meals{
  z-index: -100;
  opacity: 0.7;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 0px;
}
#hero_section_meals img{
  z-index: -1;
  position: relative;
  object-fit: cover;
}
#hero_section_meals p{
  position: absolute;
  color: white;
  font-size: 5em;
  white-space: nowrap;
  margin-top: 0px;


}
#medim_header_meals{
  background: #ff8b3d;
  font-size: 1.5em;
  padding: 50px;
}
#medim_header_meals p{
  margin-top: 15px;
  color: black;
  white-space: nowrap;


}
#table_meals td{
  display: block;

}
#table_meals{
  margin-top: 50px;
}
#footer_image_meals{
  min-width: 1500px;
  max-width: 2000px;
}
#footer_image_meals h1{

}
#footer_image_meals h3{

}
.errors{
  color: red;

}
.errors li{
  list-style-type: none;
  margin-left: -35px;
}

#logInModal{

  display:table;
  margin:auto;
  margin-top: 200px;
}
.footer{

  width: 100%;
}
.logOnBenefits{
  display:table;
  margin:auto;
  margin-top: 200px;
  margin-right: 200px;
}
.divs{
  display: flex;

}
.logButton{
  color: white;
  font-size: 0.8em;

}

#regBenefits{
  margin-top: 300px;

}

#logBenefits{
  margin-bottom: 40%;
}

#regBenefits h4{
  margin-bottom: -10px;
}
#logBenefits h4{
  margin-bottom: -10px;
}
#logInCreateAnAccount{
  color:#CC6666;
  text-decoration: none;
  font-size: 1.2em;
}
#addMealItems{
}
select{
  width: 150px;
  font-size: 1.2em;
  margin: 10px 10px 10px 0px;
}


.mealPageContent{

  display:table;
  margin:auto;
  margin-top: 100px;

}
.mealPageDesc{
  float: right;
  margin-left: 70px;
}
main{
  min-height: calc(100vh - 189px);
}

.welcomeH{
  margin-top: 80px;
  margin-left: 30px;
}
#mealDesc{
  max-width: 500px;
}

.formCart{
  background-color: #F5F5F5;
 display: table;
 max-width: 200px;
 padding: 0px 200px 100px 30px;
 border-right: 1px solid #CC6666;;

}

.formCart input, select{
  height: 40px;
  width: 400px;
  margin-bottom: 20px;
  font-size: 1em;
  border-radius: 5px;
  border: 1px solid;
}

.shopCart{
  display: table;
  margin: auto;
  margin-top: 100px;
  padding: 20px 100px 50px 50px;
  background-color: #F5F5F5;
}

.itemsCart{
  float: right;
  margin-left: 100px;

}
.itemDetails{
  display: flex;
margin-bottom: 30px;
}
.contactInfoCart{
  display: table;
  margin-bottom: 50px;
}
.userImg{
  float: left;
}

.cartFullName{
  margin-left: 70px;
  margin-top: 28px;
}
.cartEmail{
  margin-left: 70px;
  margin-top: -15px;
}

.checkDiv{
  display: flex;
}

.shipLabel{
  margin-bottom: 50px;
}
.itemDesc{
  margin-left: 20px;
}
.limitWords{
  width: 40ch;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;

}
